.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem;
  background: var(--gray-800);
}

.header img {
  height: 2rem;
}

.header h1 {
  font-size: 1.125rem;
  font-size: 1.6;
}